body{
 background-color: grey;
 background-image: url("https://imagenes.elpais.com/resizer/PW7xvk0fMpr0nAZyQ_j9_PkUSsM=/1200x0/filters:focal(683x211:693x221)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/Z6WN33YVLRCTPCATP7EAJ2ODLE.jpg");
 background-repeat: no-repeat;
 background-position-x: center;
 background-size: cover;
 background-attachment: fixed;
 color: blanchedalmond;
 align-items: center;
}

